---
layout: default
title: About
desc: 离开世界之前，一切都只是过程
className: about
---
<div class="about_banner">
    <h1 class="about_banner_title">{{ page.title }}</h1>
    <h3 class="about_banner_desc">{{ page.desc }}</h3>
</div>
<div class="about_content">
    <div class="about_info">
    </div>
    <div class="person">
        <div class="person__tags">
            <a href="" class="title">TAGS</a>
            {% for tag in site.Tags %}
                <a href="{{ tag.link }}" class="person__tags_link">{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="person__about">
            <a href="" class="title">ABOUT ME</a>
            <img src="/img/head.jpeg" alt="">
            <p>{{ site.index_desc }}</p>
            <p>{{ site.index_desc2 }}</p>
            <div class="links">
                {% for personAccount in site.person_account %}
                    <a href="{{ personAccount.link }}" target="_blank" class="person__about_link">
                        <i class="iconfont icon_{{ personAccount.type }}"></i>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="person__friends">
            <a href="" class="title">FRIENDS</a>
            {% for friend in site.Friends %}
                <a href="{{ friend.link }}" target="_blank" class="person__friends_link" data-hover="{{ friend.name }}">
                    {{ friend.name }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>