---
layout: default
className: post
---
<div class="post_banner">
    <div class="post_tags">
        {% for tag in page.tags %}
            <span class="post_tag_item"> {{ tag }}</span>
        {% endfor %}
    </div>
    <h1 class="post_banner_title">{{ page.title }}</h1>
    <h3 class="post_banner_time">Post By {{ page.author }}  [ {{ page.date }} ]</h3>
</div>
<div class="post_content">
    <article>
        {{ content }}
    </article>
    <sidebar>
        {% if page.catalog %}
            <div class="
                col-lg-2 col-lg-offset-0
                visible-lg-block
                sidebar-container
                catalog-container">
                <div class="side-catalog">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="catalog-toggle" href="#">CATALOG</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
        {% endif %}
    </sidebar>
     <i class="iconfont icon_arrowtop" onclick="javascript:scrollTo(0,0);"></i> 
</div>

